.lineBreak {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  line-clamp: 2;
  line-height: 1; 
  max-height: 1 * 2; 
}

.lineBreakTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  line-clamp: 1;
  line-height: 1; 
  max-height: 1 * 1; 
}

.cardImage {
  border-radius: 50%;
  object-fit: cover;
}
