.lineBreak {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  line-height: 1; /* fallback */
  max-height: 1 * 2; /* fallback */
}

.lineBreakTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  line-height: 1; /* fallback */
  max-height: 1 * 1; /* fallback */
}

.cardImage {
  border-radius: 50%;
  object-fit: cover;
}
